﻿@model AllwinHairdresserSalon.Models.Reservation

@{
    ViewData["Title"] = "Delete reservation";
}

<h1>Delete reservation</h1>
<br>

<h3>Are you sure you would like to delete this reservation?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HaircutType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HaircutType)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to my reservations</a>
    </form>
</div>
