﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<AllwinHairdresserSalon.Models.Reservation>

@{
    ViewData["Title"] = "My reservations";
}

<h1>My reservations</h1>

<p>
    <a asp-action="Create">Make a new reservation</a>
</p>
@if (Model.Any(x => UserManager.GetUserId(User).Equals(x.UserId)))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HaircutType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (UserManager.GetUserId(User).Equals(item.UserId))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HaircutType)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
else
{
    <h4>You don't have any reservations.</h4>
}